/* src/assets/form.css */
.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: #888;
  font-size: 1rem;
  opacity: 1;
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  background: #b388eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}